$packageArgs = @{
    packageName        = 'gocdserver'
    installerType      = 'exe'

    url64              = 'https://download.gocd.org/binaries/{{fullVersion}}/win/go-server-{{fullVersion}}-jre-64bit-setup.exe'
    checksumType64     = 'sha256'
    checksum64         = '{{checksum-64bit}}'

    silentArgs         = '/S'
    validExitCodes     = @(0)
}

Install-ChocolateyPackage @packageArgs
