$packageName = 'gocdagent'
$installerType = 'exe'
$url = "https://download.gocd.io/binaries/{{fullVersion}}/win/go-agent-{{fullVersion}}-jre-32bit-setup.exe"
$url64 = "https://download.gocd.io/binaries/{{fullVersion}}/win/go-agent-{{fullVersion}}-jre-64bit-setup.exe"
$silentArgs = '/S'
$validExitCodes = @(0)

Install-ChocolateyPackage "$packageName" "$installerType" "$silentArgs" "$url" "$url64"  -validExitCodes $validExitCodes